<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>An Unoffical Reddit Power-Up</h1>

    <p>This is an unoffical Reddit Power-Up created by me, Jireh Lo. </p>
    <p>I was an intern for Trello and made this for our Intern Ship-It, which is like a company Hackathon. </p>
    <p>Special thanks to my co-worker, Matt Cowan, who helped me a ton on making this Power-Up!</p>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://p.trellocdn.com/power-up.js?ver=asdasdasdasd"></script>
    <script src="./scripts/client.js"></script>
  </body>
</html>
